body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.checkbox-container {
    position: relative;
    padding-left: 70px;
    /* Đảm bảo có đủ khoảng trống cho label */
}

.checkbox-container label {
    position: absolute;
    left: 0;
    top: 0;
}

